<!-- Add Header -->
<%- include("partials/header.ejs") %>

<div class="main-body">

    <div class="container-top">

        <div class="hero">
            <div class="sub-hero-1">
                <h1>A 1950s Blog Post</h1>
                <p class="p-header">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tortor eros, aliquet eu dui id, tincidunt sagittis dolor. Donec tristique felis nec consectetur tempor. Vivamus sit amet aliquam magna, sit amet euismod eros. Etiam non sem mollis, aliquet leo nec, laoreet odio.</p>
                <p class="p-posted-by">Posted by: {Peter}  Date: {04/08/1954}</p>
                <a href="/post_hero"><button type="submit" class="button continue-button">CONTINUE READING</button></a>
            </div>
            <div class="sub-hero-2">
                <img class="img-hero" src="/images/adverts-old-vintage-advertisements-posters-labels-40.jpg">
            </div>

        </div>

        <div class="feature">

            <!-- Dynamically load the Features Section-->
            <% if (locals.postsKey !== "") { %>

                <% for (i = 0; i <= 1; i++) { %>

                    <div class="sub-feature">
                        <div class="feature-contents-1">

                            <h2><%= postsKey[i].dbHeading %></h2>
                            <p><%= postsKey[i].dbContent.substring(0, 400) + "..." %></p>
                            <p class="p-posted-by">Posted by: {<%= postsKey[i].dbAuthor %>}  Date: {<%= postDate %>}</p>
                            <a href="/posts/<%= postsKey[i].dbURL %>"><button type="submit" class="button continue-button">CONTINUE READING</button></a>
                        </div>

                        <div class="feature-contents-2">

                            <img class="img-post" src="<%= postsKey[i].dbImage %>" >

                        </div>

                    </div>

                    <% i++ %>

                    <div class="sub-feature">
                        <div class="feature-contents-1">

                            <h2><%= postsKey[i].dbHeading %></h2>
                            <p><%= postsKey[i].dbContent.substring(0, 400) + "..." %></p>
                            <p class="p-posted-by">Posted by: {<%= postsKey[i].dbAuthor %>}  Date: {<%= postDate %>}}</p>
                            <a href="/posts/<%= postsKey[i].dbURL %>"><button type="submit" class="button continue-button">CONTINUE READING</button></a>

                        </div>

                        <div class="feature-contents-2">

                            <img class="img-post" src="<%= postsKey[i].dbImage %>" >

                        </div>

                        <% }; %>

                    </div>


                <% } %>

        </div>

    </div>

    <div class="container-bottom">

        <div class="left-panel">

            <!-- DYNAMICALLY LOAD POSTS -->
            <% if (locals.postsKey !== "") { %>

                <% for (i = 2; i < postsKey.length; i++) { %>


                    <!-- Flex Row -->
                    <% if (postsKey[i].dbID % 2 === 0) { %>
                        <div class="post post-even">
                    <% } else {  %>
                        <div class="post post-odd">
                    <% }; %>
                            <div class="sub-post-1">

                                <h2><%= postsKey[i].dbHeading %></h2>
                                <p><%= postsKey[i].dbContent.substring(0, 300) + "..." %></p>
                                <p class="p-posted-by">Posted by: {<%= postsKey[i].dbAuthor %>}  Date: {<%= postDate %>}</p>
                                <a href="/posts/<%= postsKey[i].dbURL %>"><button type="submit" class="button continue-button">CONTINUE READING</button></a>
                            </div>

                            <div class="sub-post-2">

                                <img class="img-post" src="<%= postsKey[i].dbImage %>" >

                            </div>

                    </div>



                    <!-- Flex Column -->
<!--                    <div class="post-1">
                        <%# console.log("Index:" + i + " " + postsKey[i].dbURL) %>
                        <h2><%#= postsKey[i].dbHeading %></h2>

                        <div class="sub-post-3">

                            <img class="img-post" src="<%#= postsKey[i].dbImage %>" >
                        </div>

                        <div class="sub-post-4">

                            <p><%#= postsKey[i].dbContent.substring(0, 300) + "..." %></p>
                            <p class="p-posted-by">Posted by: <%#= postsKey[i].dbAuthor %>  Date: <%#= postDate %></p>
                            <a href="/posts/<%#= postsKey[i].dbURL %>"><button type="submit" class="button continue-button">CONTINUE READING</button></a>
                            <p class="p-notation">This is a preloaded Dynamic post</p>
                            <p>ID: <%#= postsKey[i].dbID %></p>

                        </div>

                    </div> -->


                    <% } %>

            <% } %>



        </div>


        <div class="right-panel">

            <div class="about">
                <h3>About Me</h3>
                <div class="right-panel-sub-section">
                    <img class="img-right-panel" src="/images/casal-1818171_640.png" >
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tortor eros, aliquet eu dui id, tincidunt sagittis dolor.</p>
                </div>
                <a href="/about"><button type="button" class="button about-button">READ MORE...</button></a>
            </div>

            <!--
            <div class="login">
                <h3>Login</h3>
                <p>Please login to comment, edit, delete or create a post.</p>
                <form class="form" action="/login" method="post">
                    <input class="form-input" type="text" name="userName" placeholder="Username"><br><br>
                    <input class="form-input" type="text" name="password" placeholder="Password">
                    <input class="button login-button" type="submit" value="SUBMIT">
                </form>
                <p class="p-small">Hint: letmein</p>
                <p class="form-response"><%#= locals.loginResponse %></p>
            </div>
            -->
            

            <div class="create-post">
                <h3>Create a Post</h3>
                <div class="right-panel-sub-section">
                    <img class="img-right-panel" src="/images/retro-8782064_640.jpg" >
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <a href="/create_post"><button type="button" class="button create-post-button">CREATE A POST</button></a>
            </div>


            <div class="archive">
                <h3>Archive</h3>
                <div class="right-panel-sub-section">
                    <img class="img-right-panel" src="/images/ai-generated-8826000_1280.jpg" >
                    <ul>
                        <li>Archive 1</li>
                        <li>Archive 2</li>
                        <li>Archive 3</li>
                        <li>Archive 4</li>
                        <li>Archive 5</li>
                        <li>Archive 6</li>
                    </ul>
                </div>
                <a href="/archive"><button type="button" class="button archive-button">SEE MORE ARCHIVES</button></a>
            </div>

            
        </div>

    </div>

</div>

<!-- Add Footer -->
<%- include("partials/footer.ejs") %>


